<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/asistencia/calendario.css">
    <link rel="stylesheet" href="../../assets/css/asistencia/navBarAsistencia.css">
    <title>Document</title>
</head>

<body>
    <header>
        <div class="opciones">
            <a id="btnTabla" class="btn-opcion" href="consultarAsistenciaColumna.html" target="workSpaceAsistencia">Visualizar Cards</a>
            <a id="btnCalendario" class="btn-opcion" href="consultarAsistenciaCalendario.html" target="workSpaceAsistencia">Visualizar calendario</a>
        </div>
    </header>    

    <div style="height: 500px;">
        <iframe src="consultarAsistenciaColumna.html" class="section2" id="workSpaceAsistencia" name="workSpaceAsistencia" frameborder="0" width="100%" height="100%"></iframe>
    </div>
    <script src="../../js/asistencia/navBarAsistencia.js"></script>
</body>
</html>